<div class="banner-signup container-fluid text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 50%),url(https://images.unsplash.com/photo-1449603540252-92888fea2f60?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1500&amp;h=1000&amp;q=80&amp;cs=tinysrgb&amp;crop=); background-size: cover;">

  <div class="parent margin-clear col-sm-4 col-sm-offset-4 box">
    <div>
      <p>
        Bonjour, Peanut est sur le point de voir le jour! Nous travaillons d'arrache pied pour vous permettre de profiter le plus rapidement possible de notre plateforme de micro-crédits entre particuliers. Si vous souhaitez être au courant du lancement de Peanut, remplissez ce formulaire! Promis, on ne vous spamera pas, on est bien trop occupés à construire la plateforme! Besos!
      </p>
    </div>
  </div>
  <div class="parent margin-clear col-sm-4 col-sm-offset-4 box">
    <div class="form-style-5 margin-side">

      <%= simple_form_for @loaner do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: "nom@email.com" %>
        </div>
        <div class="form-inputs">
          <%= f.input :comment, autofocus: true, placeholder: "Des commentaires? Des idées? Des suggestions? Allez-y, c'est ici!" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "S'enregistrer" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
