<div class="banner-newloan container-fluid text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.1) 50%),url(https://images.pexels.com/photos/235564/pexels-photo-235564.jpeg?w=940&amp;h=650&amp;auto=compress&amp;cs=tinysrgb" alt="bar, beautiful, girl" data-pin-media="https://images.pexels.com/photos/235564/pexels-photo-235564.jpeg?w=800&amp;h=1200&amp;fit=crop&amp;auto=compress&amp;cs=tinysrgb); background-size: cover;">




<div class="container ">
  <div class="row margin-clear">
    <div class="col-md-4 box">
      <h3 class="text-white padded-left">Voici votre profil <%= current_user.first_name.capitalize %>:</h3>
      <div>
        <div style="background-color: rgba(250,250,250, 0.7); padding-top: 1px; padding-bottom: 15px; padding-left: 25PX; border-radius: 8px;">
          <p style="text-align: left;"> Vos informations peronnelles :<p>
            <ul style="margin: 0; padding-left: 0; list-style: none;">
              <li>
                <strong>Nom :</strong> <%= current_user.last_name %>
              </li>
              <li>
                <strong>Email :</strong> <%= current_user.email %>
              </li>
              <li>
                <strong>Téléphone :</strong> <%= current_user.phone %>
              </li>
              <li>
                <strong>Adresse :</strong> <%= current_user.address %>
              </li>
            </ul>
          </div>
        </div>
      </div>

    <div class="col-md-7 col-md-offset-1 box">
      <div>
        <h3 class="padded-left text-white">Vos crédits:</h3>
      </div>
      <div style="list-style: none;">
        <!-- ici mettre crédit pending -->
        <div class="bloc-credit">
          <% pendings = current_user.credits.where(state: "pending") %>
          <% if pendings.any? %>
          <% pendings.each do |credit| %>
          <div class="row">
            <div class="col-sm-12">
              <ul>
                <li>
                  Vous avez un crédit en cours.
                </li>
                <li>
                  Son montant est de : <strong class="essai"><%= credit.amount %> € </strong>
                </li>
                <li>
                  Il a été effectué le : <%= credit.created_at %>
                </li>
                <li>
                  Il sera débité de votre compte le : <%= credit.refund_at.strftime("%d/%m/%Y") %>
                </li>
              </ul>
            </div>
            <div class="col-sm-12">
              <div class="peanut-pending">
                <%= image_tag "peanut-stripe.png" %>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <li>
            Vous n'avez pas de crédit en cours.
          </li>
          <% end %>
        </div>

        <!-- ici mettre crédit paid -->
        <div class="bloc-credit">
          <% paids = current_user.credits.where(state: "paid") %>
          <% if paids.any? %>
          <% paids.each do |credit| %>
          <div class="row">
            <div class="col-sm-6">
              <ul>
                <li>
                  Historique de vos crédits.
                </li>
                <li>
                  Son montant est de : <strong class="essai"><%= credit.amount %> € </strong>
                </li>
                <li>
                  Il a été effectué le : <%= credit.created_at.strftime("%d/%m/%Y") %>
                </li>
                <li>
                  Il sera débité de votre compte le : <%= credit.refund_at.strftime("%d/%m/%Y") %>
                </li>

              </ul>
            </div>
            <div class="col-sm-6">
              <%= image_tag "peanut-credit-over.png" %>
            </div>
          </div>
          <% end %>
          <% else %>
          <li>
            Aucun crédit dans votre historique.
          </li>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

