<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 >Bonjour <strong><%= current_user.first_name.capitalize %>!</strong> </h1>
    <h3>
      Démarrez votre simulation. Renseignez le montant que vous souhaitez investir et le type de rendement recherché.
    </h3>
    <h2> Les membres de Peanut vous remercient d'avance pour votre confiance!</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="parent">
      <div class="form-style-5">
        <%= simple_form_for @loan do |f| %>
          <%= f.error_notification %>
          <%= f.input :capital, label: "Entrez votre montant:" %>
          <table class="table">
            <thead>
              <tr>
                <th>Formule</th>
                <th>Taux</th>
                <th>Risque</th>
                <th>Revenu</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Securité</td>
                <td>3%</td>
                <td>faible</td>
                <td id="sécurité"></td>
              </tr>
               <tr>
                <td>Tranquilité</td>
                <td>6%</td>
                <td>modéré</td>
                <td id="tranquilité"></td>
              </tr>
               <tr>
                <td>Dynamique</td>
                <td>9%</td>
                <td>important</td>
                <td id="dynamique"></td>
              </tr>
            </tbody>
          </table>
          <div>
          <%= f.input :roi, as: :radio_buttons, collection: [ "Sécurité", "Tranquilité", "Dynamique" ], label: "Choisissez une formule:" %>

          <div class="call">
          <% if user_signed_in?%>
            <%= f.submit "preter mon argent", class: "navbar-wagon-item subscribe-button btn" do %>
              <i class="fa fa-credit-card" aria-hidden="true"></i> <%= t(".top_call_to_action", default: "Souscrire ce prêt") %>
            <% end %>
          <% else %>
              <%= link_to "Connectez vous pour souscrire", new_user_session_path, class: "btn", id: "connect"%>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


