<h1>Loans#new</h1>
<p>Find me in app/views/loans/new.html.erb</p>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 >Bonjour <strong><%= current_user.first_name.capitalize %>!</strong> </h1>
    <h3>
      Démarrez votre simulation. Renseignez le montant que vous souhaitez investir et le type de rendement recherché.
    </h3>
    <h2> Les membres de Peanut vous remercient d'avance pour votre confiance!</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="parent">
      <div class="form-style-5">
        <%= simple_form_for @loan, url: '/simul', remote: true, method: :get do |f| %>
          <%= f.error_notification %>
          <%= f.input :capital, label: "Entrez votre montant:" %>
          <%= f.input :roi, label: "Entrez votre taux:" %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <div >
      <span>Capital après 1 an: </span>
      <p id="year1" ></p>
    </div>
  </div>
  <div class="col-sm-1">
    <div >
      <span>Capital après 2 ans: </span>
      <p id="year2" ></p>
    </div>
  </div>
  <div class="col-sm-1">
    <div >
      <span>Capital après 3 ans: </span>
      <p id="year3" ></p>
    </div>
  </div>
  <div class="col-sm-1">
    <div >
      <span>Capital après 4 ans: </span>
      <p id="year4" ></p>
    </div>
  </div>
  <div class="col-sm-1">
    <div >
      <span>Capital après 5 ans: </span>
      <p id="year5" ></p>
    </div>
  </div>
</div>


